flows.json
[{"id":"a4341258.6f6eb","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"be5381fd.7d85d","type":"inject","z":"a4341258.6f6eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":"500","x":110,"y":160,"wires":[["c010c819.4e9218"]]},{"id":"c010c819.4e9218","type":"function","z":"a4341258.6f6eb","name":"","func":"msg.payload = ['Name of Country',\n'The year in numbers only\\n',\n'Developed or Developing status\\n',\n'Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)\\n',\n'Number of under-five deaths per 1000 population\\n',\n'Number of Infant Deaths per 1000 population\\n',\n'Hepatitis-B(HepB) immunization coverage among 1-year-olds (%)\\n',\n'Measles - number of reported cases per 1000 population\\n',\n'Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)\\n',\n'Deaths per 1000 live births HIV/AIDS (0-4 years)\\n',\n'Polio (Pol3) immunization coverage among 1-year-olds (%)\\n',\n'Population of the country\\n',\n'Average Body Mass Index of entire population\\n',\n'Prevalence of thinness among children for Age 5 to 9(%)\\n',\n'Prevalence of thinness among children and adolescents for Age 10 to 19(%)\\n',\n'Number of years of Schooling(years)\\n',\n'Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)\\n',\n'Gross Domestic Product per capita (in USD)\\n',\n'Expenditure on health as a percentage of Gross Domestic Product per capita(%)\\n',\n'General government expenditure on health as a percentage of total government expenditure (%)\\n',\n'Human Development Index in terms of income composition of resources (index ranging from 0 to 1)\\n'];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["da18af48.dd9ac","db7eaf83.120d1","519a03.6ee2f5fc","41c83136.8d0a1","7202c467.c49c4c","1681b84b.802808","56c87865.3fa398","57afca30.74a494","66e76ccf.9ad4d4","7f3d709d.6c601","14f3461b.3dba2a","15fceafd.4fd645","9e87173f.72ef98","9490de40.423be","a0f34156.2827b","6a719abc.b9cdf4","279033da.fd8a9c","8693c8c.08fce38","7ac9eaaa.e71a14","118d88c7.4941c7","9a7b81e2.e530d","1a517324.342e3d"]]},{"id":"da18af48.dd9ac","type":"debug","z":"a4341258.6f6eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":80,"wires":[]},{"id":"db7eaf83.120d1","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":1,"width":0,"height":0,"name":"","label":"Country:","format":"{{msg.payload[0]}}","layout":"row-left","x":540,"y":100,"wires":[]},{"id":"519a03.6ee2f5fc","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":3,"width":0,"height":0,"name":"","label":"Year:","format":"{{msg.payload[1]}}","layout":"row-left","x":530,"y":140,"wires":[]},{"id":"41c83136.8d0a1","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":2,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload[2]}}","layout":"row-left","x":530,"y":200,"wires":[]},{"id":"7202c467.c49c4c","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":4,"width":0,"height":0,"name":"","label":"Adult Mortality:","format":"{{msg.payload[3]}}","layout":"row-left","x":580,"y":260,"wires":[]},{"id":"1681b84b.802808","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":5,"width":0,"height":0,"name":"","label":"Under-five Deaths:","format":"{{msg.payload[4]}}","layout":"row-left","x":590,"y":300,"wires":[]},{"id":"56c87865.3fa398","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":6,"width":0,"height":0,"name":"","label":"Infant Deaths:","format":"{{msg.payload[5]}}","layout":"row-left","x":580,"y":340,"wires":[]},{"id":"57afca30.74a494","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":7,"width":0,"height":0,"name":"","label":"Hepatitis-B:","format":"{{msg.payload[6]}}","layout":"row-left","x":510,"y":380,"wires":[]},{"id":"66e76ccf.9ad4d4","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":8,"width":0,"height":0,"name":"","label":"Measles:","format":"{{msg.payload[7]}}","layout":"row-left","x":480,"y":420,"wires":[]},{"id":"7f3d709d.6c601","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":9,"width":0,"height":0,"name":"","label":"Diptheria:","format":"{{msg.payload[8]}}","layout":"row-left","x":400,"y":460,"wires":[]},{"id":"14f3461b.3dba2a","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":10,"width":0,"height":0,"name":"","label":"HIV/AIDS:","format":"{{msg.payload[9]}}","layout":"row-left","x":350,"y":500,"wires":[]},{"id":"15fceafd.4fd645","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":11,"width":0,"height":0,"name":"","label":"Polio:","format":"{{msg.payload[10]}}","layout":"row-left","x":850,"y":140,"wires":[]},{"id":"9e87173f.72ef98","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":12,"width":0,"height":0,"name":"","label":"Population:","format":"{{msg.payload[11]}}","layout":"row-left","x":870,"y":180,"wires":[]},{"id":"9490de40.423be","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":12,"width":0,"height":0,"name":"","label":"BMI:","format":"{{msg.payload[12]}}","layout":"row-left","x":850,"y":220,"wires":[]},{"id":"a0f34156.2827b","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":13,"width":0,"height":0,"name":"","label":"Thinness 5-9 years:","format":"{{msg.payload[13]}}","layout":"row-left","x":890,"y":260,"wires":[]},{"id":"6a719abc.b9cdf4","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":14,"width":0,"height":0,"name":"","label":"Thinness 10-19 years:","format":"{{msg.payload[14]}}","layout":"row-left","x":900,"y":300,"wires":[]},{"id":"279033da.fd8a9c","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":15,"width":0,"height":0,"name":"","label":"Schooling:","format":"{{msg.payload[15]}}","layout":"row-left","x":870,"y":340,"wires":[]},{"id":"8693c8c.08fce38","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":16,"width":0,"height":0,"name":"","label":"Alcohol:","format":"{{msg.payload[16]}}","layout":"row-left","x":860,"y":380,"wires":[]},{"id":"7ac9eaaa.e71a14","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":17,"width":0,"height":0,"name":"","label":"GDP:","format":"{{msg.payload[17]}}","layout":"row-left","x":850,"y":420,"wires":[]},{"id":"118d88c7.4941c7","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":18,"width":0,"height":0,"name":"","label":"Percentage Expenditure:","format":"{{msg.payload[18]}}","layout":"row-left","x":910,"y":460,"wires":[]},{"id":"9a7b81e2.e530d","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":19,"width":0,"height":0,"name":"","label":"Total Expenditure:","format":"{{msg.payload[19]}}","layout":"row-left","x":890,"y":500,"wires":[]},{"id":"1a517324.342e3d","type":"ui_text","z":"a4341258.6f6eb","group":"e54cf71f.9c95f8","order":20,"width":0,"height":0,"name":"","label":"Income Composition of Resources:","format":"{{msg.payload[20]}}","layout":"row-left","x":940,"y":540,"wires":[]},{"id":"e54cf71f.9c95f8","type":"ui_group","z":"","name":"Input details","tab":"c8a97318.6d99f","order":1,"disp":true,"width":20,"collapse":false},{"id":"c8a97318.6d99f","type":"ui_tab","z":"","name":"Information","icon":"dashboard","order":3,"disabled":false,"hidden":false}]